/* home */
@import url('https://fonts.googleapis.com/css?family=MedievalSharp&display=swap');

/* .col-md-8 {
    background-image: url("../images/background.jpg")  !important;
    background-size: cover !important; 
}
.card {
    background-image: url("../images/background.jpg")  !important;
    background-size: cover !important; 
} */

.card-body {
    background-image: url("../images/background.jpg")  !important;
    background-size: cover !important; 
}
#home-content {
    padding: 10px;
    float: left;
    font-size: 20px;
    color: #302F2F !important;

}

#home-img {
    float: right;
    margin-right: 30px;
}

.home-title {
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-family: 'MedievalSharp', cursive;
}

#home-main {
  /* background-color: #fafafa; */
  background-size: 110%;
}


#img1 {
    width: 300px;
    float: right;
}

#img2 {
    width: 300px;
    float: left;
}

#main2 {
    overflow: auto;
}

.sub-title {
    font-weight: bold;
    font-family: 'MedievalSharp', cursive;
}

/* body {
    font-family: 'MedievalSharp', cursive;
} */